<%= render ('admin_header') %>
<main class="container admin-container information-architecture">
  <section class="sortable-items">
    <article class="col">
      <%= render('admin/pages/forms/add_category') %>
      </div>
      <ul class="list col-categories" data-controller="sort" data-sort-url="<%= sort_admin_categories_url %>">
        <% @categories.each do |category| %>
          <li class="col-item" data-id=<%= category.id %> >
            <div class="handle-icon"><%= show_svg('drag-n-drop-handle.svg') %></div>
            <%= category.title %>
            <%= render 'admin/shared/items_actions', item: category %>
          </li>
        <% end %>
      </ul>
    </article>
    <article class="col">
      <%= render('admin/pages/forms/add_subcategory') %>
      <ul class="list col-subcategories" data-controller="sort" data-sort-url="<%= sort_admin_subcategories_url %>">
        <% @categories.find{ |cat| cat.title == 'NFL'}.subcategories.sort_by { |subcat| subcat.position }.each do |subcategory| %>
          <li class="col-item" data-id=<%= subcategory.id %> >
            <%= subcategory.title %>
            <%#= render 'admin/shared/items_actions' %>
          </li>
        <% end %>
      </ul>
    </article>
    <article class="col">
      <%= render('admin/pages/forms/add_team') %>
      <ul class="list col-teams" data-controller="sort" data-sort-url="<%= sort_admin_teams_url %>">
        <% @categories.find{ |cat| cat.title == 'NFL'}.subcategories.find_by(title: "AFC West").teams.sort_by { |team| team.position }.each do |team| %>
          <li class="col-item" data-id=<%= team.id %> >
            <%= team.title %>
            <%#= render 'admin/shared/items_actions' %>
          </li>
        <% end %>
      </ul>
    </article>
  </section>
</main>