<%= render ('admin_header') %>
<main class="container admin-container information-architecture">
  <section class="categories">
    <h2>All pages</h2>
    <ul class="info-architecture-col" data-controller="sort" data-sort-url="<%= sort_admin_pages_path %>">
      <%= sort_admin_pages_path %>
      <% @categories.each do |category| %>
        <li class="col-item" data-id=<%= category.id %> >
          <%= category.title %>
        </li>
      <% end %>
    </ul>
  </section>
</main>