<%= render('admin/pages/forms/add_team') %>
<ul class="list col-teams" data-controller="sort" data-sort-url="<%= sort_admin_teams_url %>">
  <% unless subcategory.teams.count > 0 %>
    <div class="parent-not-selected-message">No teams added yet.</div>
  <% end %>
  <% subcategory.teams.sort_by { |team| team.position }.each do |team| %>
    <li class="col-item" data-id=<%= team.id %> >
      <div class="handle-icon"><%= show_svg('drag-n-drop-handle.svg') %></div>
      <%= team.title %>
      <%= render 'admin/shared/items_actions', item_path: admin_team_path(team) %>
    </li>
  <% end %>
</ul>