<div class="popup-add-item">
  <div class="card">
    <h5>Add New Footer Page</h5>
    <%= form_with model: FooterPage.new, url: admin_footer_pages_path do |form| %>
      <%= form.hidden_field :page_type, value: page_type %>
      <%= form.hidden_field :status, value: 'shown' %>
      <%= form.label :title, "Name" %>
      <%= form.text_field :title, placeholder: 'Name your footer page', class: "form-control" %>
      <%= form.label :url, "URL" %>
      <%= form.text_field :url, placeholder: 'Link to a page', class: "form-control" %>
      <div class="buttons">
        <%= link_to "Cancel", admin_footer_pages_path, class: 'btn' %>
        <%= form.submit "Add", class:"btn" %>
      </div>
    <% end %>
  </div>
</div>