<h2>Create Account</h2>
<%= render "devise/shared/third-party_authentication" %>
<div class="clarification">Or use your email for registration:</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name", autofocus: true, placeholder: 'John Doe', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", placeholder: 'johndoe@gmail.com', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{ @minimum_password_length.nil? ? @minimum_password_length : 8 } + characters (letters and numbers)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'  %>
  </div>

  <div class="action">
    <%= f.submit "Sign up", class: 'btn' %>
  </div>
<% end %>
