<article>
  <div class="comments-header d-flex justify-content-between">
    <div class="comment-count">Comments (<%= article.comments.count %>)</div>
    <%= render 'comments/sort_by', article: article %>
  </div>
  <div class="comments-inner" data-controller="article-comments"  >
    <%= turbo_frame_tag 'comments' do %>
        <%= render 'comments/comments_form', comment: nil, parent_id: nil if current_user.present? %>
        <div class="comments-list" id="comments-list">
            <%= render comments %>
        </div>

      <%= render "shared/show_more_button", pagy: @pagy %>
    <% end %>
  </div>
</article>