<section class="comment">
  <div class="comment-author">
    <div class="user-avatar"><%= image_tag comment.user.avatar %></div>
    <%= comment.user.name %></div>
  <div class="comment-details">
    <span class="comment-date"><%= comment.updated_at.strftime('%b %-d') %></span>
    <span class="comment-edited-label"><%= 'edited' unless comment.created_at == comment.updated_at %></span>
  </div>
  <div class="comment-content"><%= comment.content %></div>
  <section class="comment-footer d-flex flex-column">
    <div class="footer-inner d-flex justify-content-between">
      <div class="comment-likes-dislikes">
        <%= render 'likes/button', likeable: comment %>

<!--        <span class="comment-dislikes">-->
<!--          <i class="fa-regular fa-thumbs-down active"></i>-->
<!--          <i class="fa-solid fa-thumbs-down"></i>-->
          <%#= comment.dislikes %>
<!--        </span>-->
      </div>
      <%= render 'comments/comment_actions' %>
    </div>
    <%= render 'comments/comments_form', article: comment.article, parent_id: comment.id if current_user.present? %>
  </section>
  <section class="subcomments">
    <%= render comment.comments.includes(:user).order(created_at: :desc) %>
  </section>
</section>