<%= turbo_frame_tag "turbo_comments_sort_by_frame" do %>
    <div class="comments-sort-by">
      <%= t('articles.sort_by') %>:
      <%= form_with method: :get, data: {turbo_frame:'turbo_sorted_comments_frame',
                                         controller: 'search-and-filter-form',
                                         search_and_filter_form_target: "form"},
                    class: 'd-inline' do |form| %>
        <select name="sort_by" id="sort_by", class="d-inline-block" data-action="input->search-and-filter-form#search_and_filter">
        <option value="1"><%= t('articles.most_popular') %></option>
        <option value="2"><%= t('articles.most_recent') %></option>
        <option value="3"><%= t('articles.oldest') %></option>
        </select>
      <% end %>
    </div>
<% end %>