<%= form_with model: article, url: action_path, id: 'article-form', class: 'article-form' do |form| %>
  <section>
    <%= form.label :video, "#{t('articles.video')}*", class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10" data-dropzone-max-files="1" data-dropzone-accepted-files="video/*">
      <%= video_tag url_for(article.video), alt: article.picture_alt, class: 'existing-image' if article.video.present? %>
      <%= form.file_field :video, direct_upload: true, data: { dropzone_target: 'input' }, required: true %>
      <div class="dropzone-msg dz-message needsclick">
        <div class="camera-icon">
          <%= show_svg('camera.svg') %>
        </div>
        <h3 class="dropzone-msg-desc text-sm"><span class="emphasized"><%= t('articles.add_video') %></span> <%= t('articles.drop_it_here') %><br><%= t('articles.allowed_video_formats') %></h3>
      </div>
    </div>
  </section>
  <%= form.hidden_field :category_id, value: @category.id  %>
  <%= form.label :picture_alt, "#{t('articles.alt')}*" %>
  <%= form.text_field :picture_alt, placeholder: t('articles.alt_placeholder'), required: true, class: "form-control" %>
  <%= form.label :headline, "#{t('articles.headline')}*" %>
  <%= form.text_field :headline, placeholder: t('articles.headline_placeholder'), required: true, class: "form-control" %>
  <%= form.label :caption, "#{t('articles.caption')}*" %>
  <%= form.text_field :caption, placeholder: t('articles.caption_placeholder'), required: true, class: "form-control" %>
  <%= form.label :content, "#{t('articles.content')}*" %>
  <%= form.rich_text_area :content, placeholder: t('articles.content_placeholder'), required: true, class: "form-control customized-min-height"  %>
  <%= form.label :has_comments, "#{t('articles.comments')}:" %>
  <div class="form-check-toggle form-switch d-inline-block p-0">
    <label class="form-check-label" for="flexSwitchCheckChecked"><% t('articles.show') %></label>
    <%= form.check_box :has_comments, class: "form-check-input float-none m-0 mt-1", id: "flexSwitchCheckChecked" %>
  </div>
<% end %>
