<%= form_with model: article, url: action_path, id: 'article-form' do |form| %>
  <section>
    <%= form.label :picture, "Picture*", class: "label" %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1" data-dropzone-accepted-files="image/*">
      <%= image_tag article.picture, alt: article.picture_alt, class: 'existing-image' if article.picture.present? %>
      <%= form.file_field :picture, direct_upload: true, data: { dropzone_target: 'input' } %>
      <div class="dropzone-msg dz-message needsclick">
        <div class="camera-icon">
          <%= show_svg('camera.svg') %>
        </div>
        <h3 class="dropzone-msg-desc text-sm"><span class="emphasized">+Add picture</span> or drop it right here<br>You can add next formats: png. jpg. jpeg. tif. 2 MB file size maximum.</h3>
      </div>
    </div>
  </section>
  <section class="dropdown-menus">
    <%= form.hidden_field :category_id, {value: params[:id]} %>
    <article>
      <%= form.label :subcategory, "Subcategory" %>
      <%= form.collection_select(:subcategory_id, @subcategories, :id, :title, {prompt: 'Not selected'}, class: 'dropdown') %>
    </article>
    <article>
      <%= form.label :subcategory, "Team" %>
      <%= form.collection_select(:team_id, @teams, :id, :title, {prompt: 'Not selected'}, class: 'dropdown') %>
    </article>
  </section>
  <%= form.label :picture_alt, "Alt.*" %>
  <%= form.text_field :picture_alt, placeholder: 'Alternative text for the picture', class: "form-control" %>
  <%= form.label :headline, "Article Headline*" %>
  <%= form.text_field :headline, placeholder: 'Name', class: "form-control" %>
  <%= form.label :caption, "Caption*" %>
  <%= form.text_field :caption, placeholder: 'Write caption text here', class: "form-control" %>
  <%= form.label :content, "Content*" %>
  <%= form.rich_text_area :content, placeholder: 'Please add text here', class: "form-control customized-min-height"  %>
  <%= form.label :has_comments, "Comments:" %>
  <div class="form-check-comments form-switch d-inline-block p-0">
    <label class="form-check-label" for="flexSwitchCheckChecked">Show</label>
    <%= form.check_box :has_comments, class: "form-check-input float-none m-0 mt-1", id: "flexSwitchCheckChecked" %>
  </div>
<% end %>
