<% add_new_article = link_to('+ Add New Article', new_admin_article_url(category_slug: @category.slug), class: 'page-action-button') %>
<%= render 'admin/shared/admin_headers', page_action: add_new_article %>
<section class="admin-articles container">
  <section class="articles-actions d-flex justify-content-between">
    <%= link_to("#{articles_path}/#{@category.slug}", class: "preview-btn") do %>
      <i class="fa-solid fa-eye"></i> Preview
    <% end %>
    <%= render 'admin/articles/search' %>
  </section>
  <section class="articles-filters">
  <%= render 'admin/articles/dropdown_filters' %>
  </section>
    <%= turbo_frame_tag "turbo_filtered_articles_frame" do %>
      <section class="articles-list sortable-items d-flex flex-column" data-controller="sort" data-sort-url="<%= sort_admin_articles_url %>">
        <%= render 'admin/articles/articles_list', articles: @articles, cached: true %>
      </section>
    <% end %>
</section>
