<% add_new_article = link_to('+ Add New Article', new_admin_article_url) %>
<%= render 'admin/shared/admin_headers', page_action: add_new_article %>
<section class="admin-articles container">
  <section class="articles-actions d-flex justify-content-between">
    <%= link_to("#{articles_path}/#{@category.slug}", class: "preview-btn") do %>
      <i class="fa-solid fa-eye"></i> Preview
    <% end %>
    <a href="#"><i class="fa-solid fa-search"></i></a>
  </section>
  <section class="articles-filters d-flex justify-content-between">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
      All Subcategories
    </button>
    <div class="dropdown-menu">
      <% @category.subcategories.each do |subcat| %>
        <a class="dropdown-item" href="#"><%= subcat.title %></a>
      <% end %>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
      All Teams
    </button>
    <div class="dropdown-menu">
      <% @category.subcategories.each do |subcat|
        subcat.teams.each do |team| %>
        <a class="dropdown-item" href="#"><%= team.title %></a>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
      All Locations
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Location 1</a>
      <a class="dropdown-item" href="#">Location 2</a>
    </div>
  </div>
  </section>
  <section class="articles-list sortable-items d-flex flex-column" data-controller="sort" data-sort-url="<%= sort_admin_articles_url %>">
  <%= render partial: 'admin/articles/article_preview', collection: @articles.sort_by { |article| article.position } %>
  </section>
</section>
