<%= render 'shared/side_panel' %>
<section class="container article-container">
  <div class="background-titles">
    <div class="article-category-title"><%= @category.title %></div>
    <div class="article-news"><%= t('articles.news') %></div>
  </div>
  <article class="breadcrumb">
    <span class="article-category"><%= @category.title %></span><i class="fa-solid fa-chevron-right"></i>
    <%= @team ? "#{@team.title} / #{@article.headline}" : @article.headline %>
  </article>
  <section class="article-summary">
    <article class="published-at">Published / <%= @article.created_at.strftime('%d.%m.%Y') %></article>
    <article class="headline"><%= @article.headline %></article>
    <article class="caption"><%= @article.caption %></article>
    <%= render 'article_share' %>
  </section>
  <section class="article-main">
    <% if @article.picture.present? %>
      <%= image_tag @article.picture, alt: @article.picture_alt, class: 'article-picture'%>
    <% else %>
      <%= video_tag url_for(@article.video), alt: @article.picture_alt, controls: true, autobuffer: true, class: 'article-picture' if @article.video.present? %>
    <% end %>
    <section class="article-content">
      <%= @article.content %>
    </section>
    <% if @article.has_comments? %>
      <section class="article-comments">
        <%= render 'comments/comments_section', article: @article, comments: @comments %>
      </section>
    <% end %>
    <section class="article-more">
      <%= render 'more_articles', articles: @more_articles %>
    </section>
  </section>
</section>