<section class="home-section photo-of-the-day">
  <span class="section-title"><%= t('articles.photo_of_the_day') %></span>
  <div class="flag">
    <svg fill="none" height="123" viewBox="0 0 169 123" width="169" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m0 0 169 63.25-169 59.75z" fill-rule="evenodd"/></svg>
    <h6><%= t('articles.photo_of_the_day') %></h6>
  </div>
  <section>
    <%= image_tag @photo_of_the_day&.picture, alt: @photo_of_the_day&.picture_alt, class: 'photo-of-the-day-picture' if @photo_of_the_day&.picture.present? %>
      <section class="photo-of-the-day-content">
        <article class="photo-title"><%= @photo_of_the_day&.title %></article>
        <article class="photo-description"><%= @photo_of_the_day&.description %></article>
        <article class="photo-author"><%= @photo_of_the_day&.author %></article>
      </section>
  </section>
</section>