<div class="col-add-item">+ Add Team
  <div class="popup-add-item">
    <div class="card">
      <h5>Add New Team</h5>
      <%= form_with model: Team.new, url: admin_teams_url do |form| %>
        <%= form.label :title, "Name" %>
        <%= form.text_field :title, placeholder: 'Name your team', class: "form-control" %>
        <%= form.hidden_field :subcategory_id, value: nil %>
        <div class="buttons">
          <%= submit_tag("Cancel", { name: 'cancel', id: 'cancel', type: 'reset', class: 'btn'}) %>
          <%= form.submit "Add", class:"btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>