<section class="subfooter">
  <section class="footer-links d-flex justify-content-between">
    <article>
      <h6><%= FooterPage.page_types.keys[0] %></h6>
      <ul>
        <% FooterPage.where(page_type: FooterPage.page_types.keys[0], status: 'shown').each do |fpage| %>
          <li>
            <%= link_to fpage.title, page_path(fpage.url) %></li>
        <% end %>
      </ul>
    </article>
    <article>
      <h6><%= FooterPage.page_types.keys[1] %></h6>
      <ul>
        <% FooterPage.where(page_type: FooterPage.page_types.keys[1], status: 'shown').each do |fpage| %>
          <li><%= link_to fpage.title, page_path(fpage.url) %></li>
        <% end %>
      </ul>
    </article>
    <article>
      <h6><%= FooterPage.page_types.keys[2] %></h6>
      <ul>
        <% FooterPage.where(page_type: FooterPage.page_types.keys[2], status: 'shown').each do |fpage| %>
          <div><%= fpage.title %></div>
        <% end %>
      </ul>
      <%= render 'newsletters/form' %>
    </article>
  </section>
</section>