<%
  require 'faker'
  image_avatar = Faker::Avatar.image
%>
<div class="dropdown user-dropdown">
  <div class="user-details">
    <% if current_user.nil? %>
      <%= login_helper 'nav-link' %>
    <% else %>
      <%= image_tag image_avatar %>
      <div>
        <h5><%= current_user.name %></h5>
        <h6><%= current_user.role %></h6>
      </div>
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="user-titles">
          <p><%= current_user.name %></p>
          <p><%= current_user.email %></p>
        </div>
        <%= login_helper 'nav-link' %>
      </div>
    <% end %>
  </div>
</div>