<header class="header">
  <section class="logo header-left p-2">
    <h3><%= link_to 'Sports Hub', root_path %></h3>
  </section>
  <section class="header-middle">
    <% if !@is_admin_panel  %>
      <%= render 'pages/full_text_search_bar' %>
      <article class="social-media">
        <p>Share</p>
        <div class="social-links">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-google-plus"></i></a>
        </div>
      </article>
    <% end %>
    <%= turbo_frame_tag "turbo_global_search_results", class: 'position-absolute w-100' do %><% end %>
  </section>
  <section class="header-right">
    <article>
      <%= switch_dashboards_helper %>
      <%= render 'shared/header_user_dropdown' %>
    </article>
    <article>
      <div class="lang">EN
        <button class="btn dropdown-toggle" type="button" id="dropdownLangButton" data-toggle="dropdown"></button>
      </div>
    </article>
  </section>
</header>