<main class="container user-page videos">
  <section class="home-section main-articles">
    <div class="background-titles">
      <div class="article-category-title"><%= @category.title.capitalize %></div>
      <div class="article-news"><%= t('articles.news') %></div>
    </div>
    <section>
      <%= render 'pages/video/preview_video', video: @main_articles.first %>
      <section class="small-card-videos">
        <% @main_articles.drop(1).each do |video| %>
          <%= render 'pages/video/small_card_video', video: video %>
        <% end %>
      </section>
    </section>
  </section>
  <%= render ('pages/home/summary') %>
</main>
