<h2>Log in to Sports Hub</h2>
<%= render "devise/shared/third-party_authentication" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label 'Email address' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'johndoe@gmail.com', class: 'form-control' %>
  </div>
  <div class="field">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot password?", new_password_path(resource_name), class: 'forgot-password-link' %>
    <% end %>
    <%= f.label 'Password' %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: '8 + characters (letters and numbers)', class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: 'btn' %>
  </div>
<% end %>