<section>
  <h5 class="d-flex align-items-center justify-content-center">General Info</h5>
  <article class="general-info-content">
    <div class="main-content d-flex flex-column justify-content-center align-items-center">
      <%= image_tag user.avatar if user.avatar.present?%>
      <span class="name"><%= user.name %></span>
    </div>
    <div class="general-info-list">
      <div class="d-flex justify-content-between">
        <span class="label">Registered</span>
        <span><%= user.created_at.strftime('%d/%m/%Y') %></span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="label">Email</span>
        <span><%= user.email %></span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="label">Subscribed to newsletter</span>
        <span><%= subscribed ? 'Yes' : 'No' %></span>
      </div>
    </div>
  </article>
</section>