<%= render 'admin/shared/admin_headers' %>
<main class="container admin-page admin-footer">
  <%= turbo_frame_tag "turbo_add_item" do %>
  <% end %>
    <section class="footer-pages-table" data-controller="reactive-table">
      <div class="tabs-bar">
          <div class="tab-content">
            <% @user_roles.each_with_index do |type, i| %>
              <a class="tab me-3 <%= 'selected' if i == 0 %>" data-reactive-table-target='tab' data-action='click->reactive-table#toggle' data-toggle-page-type="<%= type[0] %>" data-toggle-url="<%= filter_by_user_role_admin_users_panel_index_path(user_role: type[1]) %>"><%= type[0] %> (<%= type[1] %>)</a>
            <% end %>
          </div>
      </div>
      <section class="table">
        <section class="table-header">
          <div>Name</div>
          <div>Status</div>
          <div>Actions</div>
        </section>
        <%= turbo_frame_tag 'turbo_footer_page_cards' do %>
          <section class="table-content d-flex flex-column" data-reactive-table-target='cards'>
            <%= render partial: 'users_list', locals: {users: @users} %>
          </section>
        <% end %>
      </section>
    </section>
</main>
