<div class="popup-add-item">
  <div class="card">
    <h5>Add New Team</h5>
    <%= form_with model: Team, url: admin_subcategory_teams_path(params[:subcategory_id]) do |form| %>
      <%= form.label :title, "Name" %>
      <%= form.text_field :title, placeholder: 'Name your team', class: "form-control" %>
      <div class="buttons">
        <%= link_to "Cancel", '', class: 'btn' %>
        <%= form.submit "Add", class:"btn" %>
      </div>
    <% end %>
  </div>
</div>